.job-detail-container {
  padding: 24px;
  max-width: 900px;
  margin: auto;
}

.back-btn {
  margin-bottom: 16px;
  background: none;
  border: none;
  color: #2563eb;
  font-size: 16px;
  cursor: pointer;
}

/* Card */

.job-detail-card {
  border: 1px solid #ddd;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
      background-color: white;
}

.job-detail-card h1 {
  font-size: 28px;
  margin-bottom: 16px;
  color: blue;
}

/* Info */

.detail-info p {
  margin: 8px 0;
  color: #374151;
}

/* Description */

.job-description {
  margin-top: 20px;
}

.job-description h3 {
  margin-bottom: 8px;
  color: #374151;
}

/* Button */

.apply-btn {
  margin-top: 24px;
  padding: 12px 20px;
  background-color: #16a34a;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.apply-btn:hover {
  background-color: #15803d;
}
