/* Desktop */

.app-layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-x: auto;
    background: #f5f7fa;
}

/* Tablet */

@media (max-width: 768px) {
    .main-content {
        padding: 18px;
    }
}

/* Mobile */

@media (max-width: 480px) {

    .app-layout {
        flex-direction: column;
    }

    .main-content {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }

}