.jobs-container {
    padding: 24px;
    max-width: 1100px;
    margin: auto;
}

.jobs-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 24px;
}

/* Grid layout */

.jobs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
}

/* Job Card */

.job-card {
    border: 1px solid #ddd;
    border-radius: 14px;
    padding: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease;
    background-color: whitesmoke;
    color: blue;
}

.job-card:hover {
    transform: translateY(-4px);
}

.job-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

/* Info */

.job-info p {
    margin: 6px 0;
    color: #374151;
}

/* Button */

.status-btn {
    margin-top: 16px;
    padding: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.status-btn:hover {
    background-color: #1d4ed8;
}